{% extends 'main.html' %}


{% block content %}

<style>
    .home-container{
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
        
    }
    body {
    margin: 0;
    height: 100vh;
    background: linear-gradient(to right, #f5f5f5, #ffffff);
    font-family: Arial, sans-serif;

}


.available{
    padding-left: 10px;
    color: #aaaaaa;
    margin-bottom: -2px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* margin-left: 28%; */
    padding-top: 8px;
    padding-bottom: 20px;
    justify-content: flex-start;
    align-items: flex-start;
}

.rooms{
    padding-left: 0px 8px 0px 10px;
    margin-left: 8px;
    margin-right: 8px;
}
.rooms a{
    text-decoration: none;
}


.create{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: 1px solid slateblue;
    border-radius: 4px;
    padding: 4px;
    padding-bottom: 2px;


}

.create-container{
    padding-bottom: 10px;
    position: absolute;
    top: 130px;
    right: 350px
}

</style>


<div class="home-container">

    <div class="topics">
        {% include 'base/topic_component.html' %}
    </div>


    <div class="rooms">
        <h2 class="available">{{ room_count }} Study Group(s) available</h2>
        <div class="create-container">
            <a href="{% url 'create-room' %}" class="create">Create Group</a>
        </div>

        <div>
          {% include 'base/feed_component.html' %}
        </div>
        
    </div>


    <div>
        {% include 'base/activity_components.html' %}
    </div>


</div>

{% endblock content %}